@charset "utf-8";

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(reset.min.css);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
*{
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	outline: 0;
	transition: background .5s;
}
body {
	background-color: #C0C0C0;
	color: #000;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

input,
button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 400px;
}

#login h2 {
	background-color: #F0552E;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background-color: #fff;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input {
	background-color: #f2f2f2;
	/*box-shadow: 0 2px 3px rgba(0,0,0,.2);*/
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset input:hover{
	background-color: #ddd;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset .submit,
#login fieldset .back {
	background-color: #33cc77;
	color: #fff;
	margin: 20px 35px;
	padding: 4px 0;
	width: 100px;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	border-radius: 3px;
}

#login fieldset .submit:hover,
#login fieldset .back:hover {
	background-color: #28ad63;
	cursor: pointer;
}

#login fieldset p span {
	margin-left: 20px;
	font-size: 13px;
	color: red;
}